<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="preload" href="/css/normalize.css" as="style">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preload" href="/css/styles.css" as="style">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="description" content="Evalucion Parcial">
</head>
<body>
    
{{>header}}

<main class="diesel">
  <h2>Información sobre Vehículos Diesel</h2>
  <p>Los vehículos diésel son conocidos por su eficiencia en el consumo de combustible. Aquí te mostramos sus características principales:</p>
  <table>
    <thead>
      <tr>
        <th>Modelo</th>
        <th>Potencia (hp)</th>
        <th>Consumo (L/100km)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Camión Modelo A</td>
        <td>300</td>
        <td>12</td>
      </tr>
      <tr>
        <td>Camión Modelo B</td>
        <td>400</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
  <img src="/img/diseal.png" alt="Vehículo diesel 1">
  <img src="/img/diseal 1.jpeg" alt="Vehículo diesel 2">
</main>

{{>footer}}


</body>
</html>



