<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="preload" href="/css/normalize.css" as="style">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preload" href="/css/styles.css" as="style">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="description" content="Evalucion Parcial">
</head>
<body>
    
{{>header}}

<main class="electricos">
  <h2>Características de los Vehículos Eléctricos</h2>
  <p>Los autos eléctricos son una alternativa ecológica y eficiente para el transporte. Algunos de sus beneficios incluyen:</p>
  <ul>
    <li>Menor costo de operación.</li>
    <li>Reducción de emisiones contaminantes.</li>
    <li>Bajo nivel de ruido.</li>
  </ul>
  <div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/wlafLiI8myM?si=GlKm25-uxSs9XyE9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <img src="/img/electrico12.jpg" alt="Vehículo eléctrico 1">
  <img src="/img/electico3.jpg" alt="Vehículo eléctrico 2">
</main>

{{> footer}}



</body>
</html>
