<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="preload" href="/css/normalize.css" as="style">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preload" href="/css/styles.css" as="style">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="description" content="Evalucion Parcial">
</head>
<body>
    

{{>header}}

<main>
  <h2>Información sobre Vehículos Terrestres de Carga</h2>
  <p>Los vehículos de carga son esenciales para el transporte de mercancías y productos. Aquí mostramos ejemplos de vehículos utilizados en la industria.</p>
  <img src="/img/diseal.png" alt="Vehículo de carga 2">
  <img src="/img/home.jpeg" alt="Vehículo de carga 1">
</main>

{{> footer}}

</body>
</html>




